.error {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
    color: #DF0D1A;
    font-family: var(--font-family-main);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}