.card {
    width: 100%;
    position: relative;
    transition: all .7s;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__img {
        position: relative;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .img_sale {
            border-top-left-radius: 30px;
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: var(--brown);
        padding-right: 10px;
    }
    &__name{
        font: var(--body-1-400);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        &:hover {
            text-decoration: underline;
        }
    }
    &__desc{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

.price{
    font: var(--subtitle-3-500);
    letter-spacing: 0.36px;
    span{
        font: var(--caption-400);
        letter-spacing: 0.24px;
        margin-left: 6px;
    }
    &_old {
        color: var(--gray-dark);
        text-align: left;
        font-size: auto;
        &__count {
            font: var(--body-2-400);
            letter-spacing: 0.28px;
            display: inline;
            text-decoration: line-through;
        }
        span{
            font: var(--caption-400);
            text-decoration: none;
            letter-spacing: 0.24px;
            margin-left: 5px;
        }
    }
}

.cart{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: var(--rose);
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background-color: var(--dark-rose);
    }
    &:active {
        background-color: var(--dark-rose);
    }
    &:disabled {
        background-color: var(--lavander);
    }
}

.like{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--coral);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.sale{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--creamy);
    border: var(--rose) solid 1px;
    border-radius: 100%;
    top: 0;
    font: var(--caption-400);
    color: var(--brown);
}

@media screen and (min-width: 768px) {
    .card {
        &__img {
            .img_sale {
                border-top-left-radius: 0;
            }
        }
        &__footer{
            padding-right: 0;
        }
        &__name{
            font: var(--subtitle-3-400);
            letter-spacing: 0.36px;
        }
    }
    
    .price{
        font: var(--subtitle-2-500);
        letter-spacing: 0.4px;
        span{
            font: var(--body-2-400);
            letter-spacing: 0.28px;
        }
        &_old {
            &__count {
                font: var(--body-1-400);
                letter-spacing: 0.32px;
            }
        }
    }
    
    .cart{
        width: 52px;
        height: 52px;
        font-size: 24px;
    }
    
    .sale{
        width: 52px;
        height: 52px;
        top: -14px;
        left: -14px;
        font: var(--body-1-400);
    }
}

@media screen and (min-width: 1276px) {
    .card {
        &__wrapper{
            padding: 14px;
        }
    }
    
    .price{
        font: var(--subtitle-1-500);
        letter-spacing: 0.48px;
        span{
            letter-spacing: 0.28px;
        }
    }
    
    .sale{
        top: 0;
        left: 0;
    }
}

// .card {
//     width: 252px;
//     position: relative;
//     transition: all .7s;
//     &__sale {
//         border-top-left-radius: 26px;
//     }
//     &__wrapper{
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         padding: 14px;
//     }
//     &__img {
//         position: relative;
//         height: 280px;
//         img{
//             object-fit: cover;
//             width: 100%;
//             height: 100%;
//         }
//     }
//     &__footer{
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
//         font-family: var(--font-family-main);
//         color:#2C1607;
//     }
//     &__name{
//         font-size: 18px;
//         &:hover {
//             text-decoration: underline;
//         }
//     }
//     &__desc{
//         display: flex;
//         justify-content: space-between;
//         align-items: end;
//     }
//     &__old_price{
//         span{

//         }
//     }
//     &:hover{
//         box-shadow: 0px 0px 25px 0px rgba(109, 101, 89, 0.08);
//     }
// }

// .price{
//     font-size: 24px;
//     line-height: auto;
//     font-weight: 500;
//     span{
//         font-size: 14px;
//         font-weight: 400;
//     }
//     &_old {
//         font-size: 16px;
//         font-weight: 400;
//         color: #B4B4B4;
//         p {
//             display: inline;
//             text-decoration: line-through;
//         }
//         span{
//             font-size: 14px;
//             font-weight: 400;
//             text-decoration: none;
//         }
//     }
// }

// .cart{
//     width: 52px;
//     height: 52px;
//     border-radius: 100%;
//     background-color: #E7A9A7;
//     display: flex;
//     justify-content: center;
//     align-items:center;
//     color: #fff;
//     font-size: 24px;
//     cursor: pointer;
//     &:hover {
//         background-color: #9C5A58;
//     }
//     &:active {
//         background-color: #9C5A58;
//     }
//     &:disabled {
//         background-color: #C5B4B9;
//     }
// }

// .like{
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     color: #C24A51;
//     font-size: 24px;
//     cursor: pointer;
//     transition: all 0.3s;
// }

// .sale{
//     position: absolute;
//     width: 52px;
//     height: 52px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #FCF7F0;
//     border: #E7A9A7 solid 1px;
//     border-radius: 100%;
//     top: 0;
//     font-family: var(--font-family-main);
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 150%;
//     color:#2C1607;
// }
