@import "../../../app/styles/mixin";

.container {
	padding: 44px 0;
	display: flex;

	.arrow {
		display: none;
	}
}


@include media768 {
	.container {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 20px;
		max-width: 700px;
		width: 100%;

		.arrow {
			display: flex;
			cursor: pointer;

			span {
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.02em;
				color: #231104;
			}

			img {
				width: 24px;
				height: 24px;
				margin-right: 10px;
			}
		}
	}
}
