.label {
    position: relative;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
        position: absolute;
        left: 0;
        bottom: 2px;
        pointer-events: none;
        padding: 8px 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: #C5B4B9;
        transition: 0.5s;
        width: max-content;
    }

    input:valid~span,
    input:focus~span {
        color: #231104;
        transform: translateY(-40px);
        padding: 0;
        font-family: var(--font-family-main);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.input {
    display: flex;
    width: 100%;
    padding: 8px 0;
    align-items: center;
    background-color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-bottom: #C5B4B9 solid 2px;

    &:focus {
        border-bottom: #231104 solid 2px;
    }

    &_error {
        border-bottom: #DF0D1A solid 2px;

        &:focus {
            border-bottom: #DF0D1A solid 2px;
        }
    }

    overflow: hidden;
}