.address {
	display: flex;
	margin-top: 40px;

	img {
		margin-right: 20px;
	}

	.addressWrapper {
		h4 {
			font-size: 20px;
			font-weight: 500;
			line-height: 23px;
			color: #231104;
			margin-bottom: 10px;
		}

		div {
			display: flex;
			flex-direction: column;

			span {
				margin-bottom: 10px;
				display: block;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: #231104;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.address {
		margin-top: 30px;

		img {
			width: 88px;
			height: 88px;
		}

		.addressWrapper {
			h4 {
				line-height: 30px;
				margin-bottom: 7.5px;
			}

			div {
				display: flex;
				flex-direction: column;

				span {
					margin-bottom: 7.5px;
					font-size: 16px;
					line-height: 24px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

}


@media screen and (max-width: 500px) {
	.address {
		margin-top: 10px;

		img {
			width: 76px;
			height: 76px;
		}

		.addressWrapper {
			h4 {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 2px;
			}

			div {
				display: flex;
				text-wrap: initial;

				span {
					margin-bottom: 2px;
					font-size: 16px;

				}
			}
		}
	}
}
