
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	span {
		font-family: var(--font-family-main);
		font-size: 32px;
		font-weight: 400;
		line-height: 38px;
		color: #231104;
	}

	img {
		width: 20px;
		height: 10px;
	}

	button {
		font-family: var(--font-family-main);
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		text-decoration: underline;
		transition: all 0.5s ease-in-out;
		background: transparent;

		&:hover {
			color: #9C5A58;
			text-decoration: underline #9C5A58;
		}
	}
}


.blocked {
	user-select: none;
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
}


.tabs {
	margin-top: 37px;
	width: 500px;

	.nav {
		display: flex;
		justify-content: space-between;
	}
}

.tabItem {
	font-family: var(--font-family-main);
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	color: #231104;
	cursor: pointer;
}

.active {
	color: #B4B4B4;
}


@media screen and (max-width: 1024px) {
	.title {

		span {
			font-size: 20px;
			line-height: 30px;
		}

		button {
			font-size: 16px;
			line-height: 21px;
		}
	}

	.tabs {
		margin-top: 30px;
		width: 100%;
	}
	.tabItem {
		font-size: 20px;
	}
}


@media screen and (max-width: 500px) {
	.title {
		span {
			font-size: 20px;
			line-height: 27px;
		}
	}

	.tabs {
		margin-top: 20px;
	}
	.tabItem {
		font-size: 16px;
	}
}
