.forms__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

@media screen and (min-width: 768px) {
    .forms__wrapper {
        gap: 100px;
    }
}

@media screen and (min-width: 1276px) {
    .forms__wrapper {
        padding-top: 52px;
        gap: 120px;
    }
}