.blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(35, 17, 4, 0.40);
	bottom: 0;
	z-index: 999;
	overflow: hidden;
}

.popUp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border: 1px solid #E7A9A7;
	width: 470px;
	height: 704px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

	&__btn {
		background: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		margin-left: 340px;

		img {
			margin-right: 10px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 150px;

		h1 {
			font-family: var(--font-family-main);
			font-size: 32px;
			font-weight: 400;
			line-height: 38px;
			color: #231104;
			margin-bottom: 30px;
		}

		li {
			font-family: var(--font-family-main);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			width: 300px;

			list-style-type: disc;
			margin-bottom: 50px;
		}

		button:first-of-type {
			margin-bottom: 20px;
		}
	}
}
